.DS_Store
node_modules
dist
build
yarn.lock

t.md

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.log
*.zip
.factorypath
logs/
.settings/
target/
truffle-contract/contracts/exchange/artifacts/ERC20TransferProxy.json
truffle-contract/contracts/exchange/artifacts/ERC20TransferProxy_metadata.json
truffle-contract/contracts/exchange/artifacts/ExchangeDomain.json
truffle-contract/contracts/exchange/artifacts/ExchangeDomain_metadata.json
truffle-contract/contracts/exchange/artifacts/ExchangeOrdersHolder.json
truffle-contract/contracts/exchange/artifacts/ExchangeOrdersHolder_metadata.json
truffle-contract/contracts/exchange/artifacts/ExchangeState.json
truffle-contract/contracts/exchange/artifacts/ExchangeState_metadata.json
truffle-contract/contracts/exchange/artifacts/NftExchange.json
truffle-contract/contracts/exchange/artifacts/NftExchange_metadata.json
truffle-contract/contracts/exchange/artifacts/OperatorRole.json
truffle-contract/contracts/exchange/artifacts/OperatorRole_metadata.json
truffle-contract/contracts/exchange/artifacts/OwnableOperatorRole.json
truffle-contract/contracts/exchange/artifacts/OwnableOperatorRole_metadata.json
truffle-contract/contracts/exchange/artifacts/TransferProxy.json
truffle-contract/contracts/exchange/artifacts/TransferProxy_metadata.json
truffle-contract/contracts/exchange/artifacts/TransferProxyForDeprecated.json
truffle-contract/contracts/exchange/artifacts/TransferProxyForDeprecated_metadata.json
truffle-contract/contracts/exchange/artifacts/build-info/309daed2ebc527d451f855f3bdf444ac.json
truffle-contract/contracts/exchange/artifacts/build-info/5f1c738fd2566577fdbe4a1c2e731e96.json
truffle-contract/contracts/exchange/artifacts/build-info/7f4140519a47a5fbce2109d650c94456.json
truffle-contract/contracts/exchange/artifacts/build-info/afa7cb13c92960f8905c16bfe0bface0.json
truffle-contract/contracts/exchange/artifacts/build-info/b9943e73abaac41a89497062636cca39.json
truffle-contract/contracts/exchange/artifacts/build-info/ca4c58ac41e28a14590ccdd3c05a958e.json
truffle-contract/contracts/token/artifacts/NFT721.json
truffle-contract/contracts/token/artifacts/NFT721_metadata.json
truffle-contract/contracts/token/artifacts/build-info/cb6a27cded3a33e256605f6a430247bb.json
